$mediumPurple: #AB82FF;
$darkPurple: darken($mediumPurple, 10%);
$reallyDarkPurple: darken($mediumPurple, 40%);

body {
  background-color: #000000;
  color: #ffffff;
}

.drumIcons {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
}

.drumButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 20px;
}


#snare {
  background: $mediumPurple;
  color: #ffffff;
}

#cymbal {
  background: $darkPurple;
  color: #ffffff;
}

#bassDrum {
  background: darken($mediumPurple, 20%);
}
#tom {
  background: $reallyDarkPurple;
}